<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.9~b6</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.1</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.2.2</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.2.3</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.2.4</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.2</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.3</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.4</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.5</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.6</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.7</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.8</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.1</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.10</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.11</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.11-b1</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.12</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.13</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.14</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.2</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.3</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.4</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.5</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.6</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.7</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.8</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.4.9</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
</dict>
</plist>
