<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.9~b6</key>
	<array>
		<string>Add MOTD for public beta testing</string>
		<string>Add custom rsync path specification</string>
		<string>Add 32-bit slice and postinst</string>
		<string>Add xerusdesign's icon to package file</string>
	</array>
	<key>1.1</key>
	<array>
		<string>Adds custom IPSW path specification in Succession's settings</string>
		<string>Fixes a bug where /var/mobile/Media/Succession/ did not have correct permissions for some users</string>
		<string>If an IPSW is present in /var/mobile/Media/Succession, but it is not named "ipsw.ipsw", an alert will be presented allowing users to automatically rename it.</string>
		<string>Adds profile pictures to credits page</string>
		<string>Adds proactive credit to MidnightChips for upcoming APFS snapshot features</string>
	</array>
	<key>1.2</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.2.2</key>
	<array>
		<string>Completely re-write mount code to make it work on all devices</string>
		<string>Improves clean up to prevent deleting /tmp</string>
	</array>
	<key>1.2.3</key>
	<array>
		<string>Fixes a bug with the settings page not performing the correct action from the tableview</string>
	</array>
	<key>1.2.4</key>
	<array>
		<string>Fixes a UI bug where a label was off screen during restore</string>
		<string>Creates mountpoint if it doesn’t exist</string>
	</array>
	<key>1.3</key>
	<array>
		<string>Adds the ability to create a new orig-fs snapshot of the restored filesystem</string>
		<string>Adds the ability to create a "succession-prerestore" snapshot of the filesystem before restoring to allow undoing the restore at a later time</string>
		<string>Adds support for A12 devices</string>
		<string>Fixed a few UI bugs</string>
		<string>Better performance when mounting</string>
	</array>
	<key>1.3.2</key>
	<array>
		<string>Resolves incompatibilities with sbingner's uikittools</string>
	</array>
	<key>1.3.3</key>
	<array>
		<string>Adds more logging to the restore page</string>
		<string>Fixes bugs when mounting</string>
		<string>Fixes a crash when tapping "Begin restore" on iPads</string>
	</array>
	<key>1.3.4</key>
	<array>
		<string>Automatic mounting when Restore view loads</string>
		<string>After this update, downloaded DMGs will not be deleted by future updates, only by (re/un)installs, thanks @OothecaPickle</string>
	</array>
	<key>1.3.5</key>
	<array>
		<string>Faster zip extraction</string>
		<string>Use hdik for extraction to prepare for iOS 9.X support</string>
	</array>
	<key>1.3.6</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
	<key>1.3.7</key>
	<array>
		<string>Please enter changes here</string>
		<string>You can enter as many changes as you'd like</string>
		<string>Just add more strings to this array</string>
	</array>
</dict>
</plist>
