<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<dict>
		<key>disabled</key>
		<integer>0</integer>
		<key>messageContent</key>
		<string>No MOTD</string>
		<key>showMessage</key>
		<integer>0</integer>
	</dict>
	<key>deviceModels</key>
	<dict>
		<key>iPhone6,1</key>
		<dict>
			<key>disabled</key>
			<integer>0</integer>
			<key>messageContent</key>
			<string>No MOTD</string>
			<key>showMessage</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>iOSVersions</key>
	<dict>
		<key>16G77</key>
		<dict>
			<key>disabled</key>
			<integer>0</integer>
			<key>messageContent</key>
			<string>No MOTD</string>
			<key>showMessage</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>successionVersions</key>
	<dict>
		<key>1.0</key>
		<dict>
			<key>disabled</key>
			<integer>0</integer>
			<key>messageContent</key>
			<string>No MOTD</string>
			<key>showMessage</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
