<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<array>
		<string>Initial Release</string>
	</array>
	<key>1.1</key>
	<array>
		<string>Support for zebra beta18</string>
	</array>
</dict>
</plist>
